html {
  box-sizing: border-box;
}
*,
:after,
:before {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: lighter;
  color: #8b8b8b;
  line-height: 21px;
  background-color: #fafafa;
  margin: 10px auto;
}

.obruvod {
  width: 350px;
  display: flex;
  justify-content: center;
  margin: 60px auto 0 auto;
}

h1 {
  font-size: 28px;
  color: black;
  line-height: 37px;
  text-align: center;
}

h2 {
  font-weight: bold;
  text-align: center;
  color: black;
  padding-top: 40px;
}

.button {
  font-size: 14px;
  color: white;
  padding: 15px 40px;
  border: black;
  border-radius: 30px;
  display: block;
  margin: 10px auto;
  text-align: center;
}

.modra {
  background-color: #407bff;
}

.seda {
  background-color: #8b8b8b;
}

.odstavec {
  text-align: center;
  width: 460px;
  margin: 30px auto;
}

.nabidka {
  display: flex;
  align-items: center;
  width: 460px;
  margin: 20px auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px #407bff1f;
}

.nabidka img {
  padding: 20px;
}

.nabidka p {
  font-size: 13px;
  margin-left: 10px;
}

@media screen and (min-width: 640px) {
  .tlacitka {
    display: flex;
    justify-content: center;
  }

  .button {
    display: flex;
  }

  .sluzby {
    display: flex;
    justify-content: center;
  }

  .nabidka {
    display: flex;
    flex-direction: column;
    width: 230px;
    flex: 0 0 calc((100% - 120px) / 3);
  }

  .nabidka img {
    margin: 20px auto 0 auto;
  }

  .nabidka p {
    text-align: center;
    margin: 20px;
  }
}

@media screen and (min-width: 1100px) {
 
  .ram {
    max-width: 1040px;
    margin: 60px auto;
  }

  .blok1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
  }
  .uvod {
    flex: 1 0 50%;
    display: flex;
    flex-direction: column;
  }
  .obruvod {
    width: 425px;
    flex: 0 0 50%;
  }

  h1,
  h2,
  .odstavec {
    text-align: left;
  }

  .uvod p {
    margin-left: 0;
  }

  .blok2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 80px 0;
  }

  .sluzby {
    flex: 1 1 55%;
    display: flex;
  }

  .nabidka {
    display: flex;
    flex-direction: column;
    width: 170px;
    flex: 0 1 calc((100% - 80px) / 3);
  }

  .popis {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
  }

  .popis p {
    width: 430px;
  }

  .blok2 .popis {
    padding-left: 50px;
  }

  .blok3 {
    display: flex;
    padding-bottom: 80px;
  }
  .blok3 .popis {
    padding-right: 50px;
  }
}
